.statistics {
  width: 350px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
}

.title {
  margin: 15px auto;
  color: #394264;
  text-transform: uppercase;
}

.stat_list {
  display: flex;
}

.item {
  width: 75px;
  padding: 5px;
  color: #fff;
  text-shadow: -1px -1px 0 #394264, -2px -2px 1px #394264;
  border-left: 1px solid #394264;
  text-align: center;
}

.label {
  margin-bottom: 10px;
  font-size: 15px;
}

.percentage {
  font-size: 18px;
}
